<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="" href="/styles/tailwind.output.css">
    <title>The Comic Books</title>
</head>
<body>

    <header class="text-gray-600 body-font bg-yellow-100 opacity-1">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <img src="https://dejpknyizje2n.cloudfront.net/marketplace/products/young-lady-reading-a-book-pop-art-sticker-1581554316.4133976.png" class="w-20 h-20 text-white p-2 rounded-full" >
      <span class="ml-3 text-xl">The comic books</span>
      
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-red-500" href="/volumes/collection">My Collection</a>
      <a class="mr-5 hover:text-red-500" href="/volumes/wishlist">My Wishlist</a>
      <a class="mr-5 hover:text-red-500" href="/volumes/search">Add Comics</a>
      <a class="mr-5 hover:text-red-500" href="/market">Get Comics</a>
    </nav>
  {{#if user}}
      <p class=" px-10 ">Hello {{user.username}}!</p>
    <button class="inline-flex items-center bg-red-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="/auth/logout">Logout</a></button>
  </div>
  {{/if}}
</header>    


    {{{ body }}}
</body>
</html>