<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
    
        <div class="flex flex-wrap -m-4">
            {{#each issue}}
                <div class="p-4 lg:w-1/2">
                    <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        
                        <img alt="cover for {{volume.name}}" class="flex-shrink-0 rounded-lg w-48 h-70 object-cover object-center sm:mb-0 mb-4" src="{{image}}">
                        
                        
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">{{volume.name}}</h2>
                            <h3 class="text-gray-500 mb-3">#{{number}}</h3>
                            <p class="mb-4">released in: {{release}}</p>
                            {{#price}}
                            <p class="mb-4">price: {{this.price}}€</p>
                            {{/price}}
                            <button
                                class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center 
                                text-white uppercase transition bg-red-500 rounded shadow ripple hover:shadow-lg 
                                hover:bg-red-600 focus:outline-none">
                                <a href="/issues/sell/{{_id}}">
                                    Edit Issue details
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        
    </div>
</section>
    
