{{#issue}}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{number}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{volume.name}}</h1>
        <p class="leading-relaxed">story arc: {{story_arc_credits.name}}</p>

                <p class="leading-relaxed">Paid: {{price.bought}}</p>
                <p class="leading-relaxed">Sell: {{price.sold}}</p>
        <div class="flex flex-col leading-relaxed space-y-1">
            {{#each credits}}
            <div class="flex flex-wrap space-x-3">
                    <h2><b>{{this.name}}</b></h2> 
                    <h4 class="capitalize">{{this.role}}</h4>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/issue}} 
