{{#issue}}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{number}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{volume.name}}</h1>
        <p class="leading-relaxed">story arc: {{story_arc_credits.name}}</p>
        <div class="flex flex-col leading-relaxed space-y-1">
        {{#each credits}}
        <div class="flex flex-wrap space-x-3">
                <h2><b>{{this.name}}</b></h2> 
                <h4 class="capitalize">{{this.role}}</h4>
        </div>
    {{/each}}
    <form action="./{{_id}}/?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="relative py-2">

            <label for="forSale">forSale</label>
            <select class="block w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="forSale" id="forSale">
                <option value="false">
                    No
                </option>
                <option value="true">
                    Yes
                </option>
            </select>

            <label for="sell" class="text-gray-700 invisible md:visible">
                Price you want to pay  
            </label>
            <input type="number" id="sell" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent" name="sell" placeholder="Max price you want to pay for this comic"/>

            <label for="buy" class="text-gray-700 invisible md:visible">
                    Price you have paid
            </label>
            <input type="number" id="buy" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent" name="buy" placeholder="Price you have paid for this comic"/>

                <label for="localImage" class="text-gray-700 invisible md:visible">
                    Pic of comic
            </label>
            <input type="file" id="localImage" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent" name="localImage" placeholder="Max price you want to pay for this comic"/>
        </div>
        <button
        type="submit"
        class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center 
        text-white uppercase transition bg-red-500 rounded shadow ripple hover:shadow-lg 
        hover:bg-red-600 focus:outline-none">
            edit
    </button>
    </form>
    </div>
</div>
</section>
{{/issue}} 