<div>
    <form action="http://localhost:3000/issues/search" method="POST">
        <div>
            <label for="search" class="for">Select one</label>
            <select type="text" name="field" class="text" id="field">
                <option value="name">name</option>
                <option value="volume">volume</option>
                <option value="issue_number">Number</option>
            </select>
        </div>
        <div>
            <label for="search" class="for">Search</label>
            <input type="text" name="fieldValue" class="text">
        </div>
        <button class="Submit">SEARCH</button>
    </form>
</div>

{{#each response}}
<div>
    
        <img src="{{image.original_url}}" alt="All images"/>
        <h1>{{issue_number}}</h1>
        <h2>{{name}}</h2>
        <a href="detail/{{id}}">See more</a>
    
</div>
{{/each}}