{{#response}}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="image for {{volume.name}}" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{issue_number}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{name}}</h1>
        <p class="leading-relaxed">story arc: {{story_arc_credits.name}}</p>
                <p class="leading-relaxed">{{description}}</p>
        <div class="flex flex-col leading-relaxed space-y-1">
        {{#each credits}}
        <div class="flex flex-wrap space-x-3">
                <h2><b>{{this.name}}</b></h2> 
                <h4 class="capitalize">{{this.role}}</h4>
        </div>
    {{/each}}
    </div>
    <button
        type="Submit"
        class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center 
        text-white uppercase transition bg-red-500 rounded shadow ripple hover:shadow-lg 
        hover:bg-red-600 focus:outline-none">
        <a href="../wishlist/add/{{apiRef}}">
        Add to wishlist
        </a>
    </button>
    <button
        type="Submit"
        class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center 
        text-white uppercase transition bg-red-500 rounded shadow ripple hover:shadow-lg 
        hover:bg-red-600 focus:outline-none">
        <a href="../collection/add/{{apiRef}}">
        Add to Collection
        </a>
    </button>
      </div>
    </div>
  </div>
</section>
{{/response}} 
