<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Before they sold out
        <br class="hidden lg:inline-block">readymade gluten
      </h1>
      <p class="mb-8 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias blanditiis magnam tenetur deserunt facere nemo quo aliquam! Doloribus vitae accusamus eligendi quis aut obcaecati repellat, perferendis, porro, voluptates quasi laboriosam.</p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:text-gray-700 hover:bg-gray-100 rounded text-lg"><a href="/auth/register">Sign Up</a></button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:text-white hover:bg-red-500 rounded text-lg"><a href="/auth/login">Sign In</a></button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded-lg shadow-lg" alt="hero" src="https://gothamgeekgirl.files.wordpress.com/2020/04/get-into-comic-books.jpg">
    </div>
  </div>
</section>

