   {{#response}}

   <section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{image.original_url}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{publisher.name}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{name}}</h1>
        <p class="leading-relaxed">{{deck}}</p>
        {{#each people}}
        <div>
            <h2 class="leading-relaxed"><b>{{this.name}}</b> appears in {{this.count}} number(s)</h2>
            <h4>{{this.role}}</h4>
        </div>
    {{/each}}
      </div>
    </div>
  </div>
</section>
   
    

    
      

    <button type="Submit">
        <a href="detail/add/{{id}}"></a>
    </button>

   {{/response}}

{{#if images}}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {{#each images}}
        <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-90 object-cover object-center mb-4" src="{{image.original_url}}">
                <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">{{name}}</h2>
                    <p class="text-gray-500 p-1 ">#{{issue_number}}</p>
                    <h3 class="text-gray-500 "><b>{{volume.name}}</b></h3>
                    <h2 class="text-gray-500 ">started {{start_year}}</h2>
                    <a class="ml-2 text-red-600" href="/issues/detail/{{id}}"> See more</a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</section>
{{/if}}

{{#if issue}}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {{#each issue}}
        <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-90 object-cover object-center mb-4" src="{{image}}">
            <div class="w-full">
                <h2 class="title-font font-medium text-lg text-gray-900">{{name}}</h2>
                <p class="text-gray-500 p-1 ">#{{number}}</p>
                <h3 class="text-gray-500 "><b>{{volume.name}}</b></h3>
                <h2 class="text-gray-500 ">started {{start_year}}</h2>
                <a class="ml-2 text-red-600" href="/issues/detail/{{apiRef}}"> See more</a>

            </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</section>
{{/if}}
