<div>
    <form action="/volumes/search" method="POST">
        <div class="flex flex-col px-20 ">
            <label for="search" class="for">Select one</label>
            <select class="w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="field">
                <option value="name">
                    Name
                </option>
                <option value="publisher">
                    publisher
                </option>
                <option value="start_year">
                    Year
                </option>
            </select>
        </div>
        <div class="relative py-2 p-20">
            <label for="Search" class="text-gray-700">
                Search
            </label>
            <input type="text" id="fieldValue" class="rounded-lg border-transparent flex-1 
                appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 
                placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 
                focus:ring-red-500 focus:border-transparent" 
                name="fieldValue" 
                placeholder="Search"/>
            <button type="Submit" class="py-2 px-4  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  opacity-70 cursor-not-allowed rounded-lg ">
                Search
        </button>
        </div>
        
    </form>
</div>


<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {{#each response}}
        <div class="p-4 lg:w-1/4 md:w-1/2">
            <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="{{image.original_url}}">
            <div class="w-full">
                <h2 class="title-font font-medium text-lg text-gray-900">{{name}}</h2>
                <p class="text-gray-500 p-1 ">({{publisher.name}})</p>
                <h3 class="text-gray-500 ">{{count_of_issues}} Issues</h3>
                <h2 class="text-gray-500 ">started {{start_year}}</h2>
                <a class="ml-2 text-red-600" href="detail/{{id}}"> See more</a>

            </div>
            </div>
        </div>
        {{/each}}
    </div>
    
</div>
</section>

